* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

/* ---- news boxes ---- */

.news-boxes {
	display: flex;
	flex-flow: row wrap;
	width: 50%
}

.teaser {
	display: flex;
	align-items: flex-end;
	height: 50vw;
	font-weight: 500;
	padding: .8rem;
  line-height: 1;
  position: relative;
}

.teaser:nth-child(1) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	display: flex;
	align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: black;
}

.teaser:nth-child(2) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
	align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(3) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(4) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(5) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(6) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(7) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(8) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(9) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(10) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(11) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
	align-items: flex-end;
  width: 100%;
}

.teaser:nth-child(12) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
}