// media queries 
$desktop: 1200px;
$tablet: 600px;

// brand properties
$font-size: 1rem;
$primary-color: #ffffff;
$secondary-color: #c2c2c2;
$brand-font: 'open_sanslight';

// loader gif
$gif-size: 3rem;