
@import 'reset';
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  color: #ffffff;
}

body {
	background-color: black;
  color: white;
  justify-content: center;
}

.loader-gif {
  max-width: 3rem;
  opacity: 0;
  transition-property: opacity;
}

.loader-gif-animation { 
  transition-property: opacity;
  opacity: 1;
  transform: translateX(168px) translateY(-100px);;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 15rem;
  margin-bottom: 8rem;
  transition-property: margin-top, margin-bottom;
  // padding-bottom: 10rem;


  @include tablet {
    flex-direction: row;
    height: 150px;
    margin-top: 10rem;
    margin-bottom: 1rem;
    padding: 6rem;
    // padding-bottom:5rem;
    transition-property: padding-top, padding-bottom, height;
      }
  
  @include desktop {
    justify-content: flex-start;
      }
}

.header-animation {
  margin-top: 0rem;
  margin-bottom: 0rem;

  
  @include tablet {
  // padding-top: 4rem;
  padding-bottom: 0rem;
  transition-property: padding-top, padding-bottom;
  }
}

.nyt-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-animation {
  // transform: translateY(-20px);

  @include tablet {
    transform: scale(.3);
  }
}

.filter-animation {
  transform: translateY(-10px);

  @include tablet {
    transform: translateX(-50px) translateY(-5px);
      }  
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 0rem;
      }

}

.filter p {
  margin-bottom: 1rem;
  margin-top: 2rem;

  @include tablet {
    margin-top: 0rem;
  }
}

/* ---- stories ---- */


.results {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
      }
        
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
      }
}

li {
  height: 80vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  @include tablet {
    height: 40vw;
      }
        
  @include desktop {
    height: 20vw;
      }
}

a p {
  background: rgba(0, 0, 0, .7);
  padding: .8rem;
  text-decoration: none;
  color: white;
  width: 100%
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include tablet {
    padding-top: 5rem;
      }

  @include desktop {
    text-align: left;
    margin-left: 3rem;
      }
}