
@import 'reset';
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  color: $primary-color;
  font-family: $brand-font;
  background-color: black;
}

// screen reader

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
  color: $primary-color;
}

// loader gif

.loader-gif {
  max-width: $gif-size;
  opacity: 0;
  transition-property: opacity;
}

.loader-gif-animation { 
  position: fixed;
  top:-70%; right:-100%; left:-100%; bottom:-100%;
  margin:auto;
  transition-property: opacity;
  opacity: 1;

  @include tablet {
    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin: auto;
  }
}

// header

.header {
  @include flex-center();
  height: 200px;
  margin: {
    top: 15rem;
    bottom: 8rem;
    }
  transition-property: margin-top, margin-bottom, height;

  @include tablet {
    flex-direction: row;
    margin: { 
      top: 10rem;
      bottom: 1rem;
      }
    padding: 6rem;
    transition-property: padding-top, padding-bottom, height;
      }
  
  @include desktop {
    justify-content: flex-start;
      }
}

.header-animation {
  margin: {
    top: 0rem;
    bottom: 0rem;
    }
  height: 500px;

  
  @include tablet {
  height: 150px;
  padding: 0rem;
  transition-property: padding-top, padding-bottom;
  }
}

// NYT logo

.nyt-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-animation {
  @include tablet {
    transform: scale(.3);
  }
}

// selector

.filter-animation {
  transform: translateY(-10px);

  @include tablet {
    transform: translateX(-50px) translateY(-5px);
      }  
}

.filter {
  @include flex-center();

  @include tablet {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 0rem;
      }

}

label {
  margin: {
    bottom: 1rem;
    top: 2rem;
    }

  @include tablet {
    margin-top: 0rem;
  }
}

select.categories { 
  font-size: $font-size;
  border-radius: 0px;
  font-family: $brand-font;
  border: none;  
  background-color: $primary-color;
} 

// stories


.results {
  margin: 0 auto;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
      }
        
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
      }
}

li {
  height: 80vw;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    height: 40vw;
      }
        
  @include desktop {
    height: 35vw;
      }
}

a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  p {
    background: rgba(0, 0, 0, .7);
    padding: .8rem;
    text-decoration: none;
    color: white;
    width: 100%;
    line-height: 1.5;
    }
}

// footer

.footer {
  color: $secondary-color;
  text-align: center;
  padding: 3rem;

  @include desktop {
    text-align: left;
    margin-left: 6rem;
      }
}
