* {
	box-sizing: border-box;
}


@import 'reset';
@import 'variables';
@import 'mixins';

body {
	background-color: black;
  color: white;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

/* ---- stories ---- */

.stories {
  display: flex;
  flex-wrap: row wrap;
}

.teaser {
	height: 100vw;
	font-weight: 500;
  line-height: 1;
  max-width: 100%;
  
  @include desktop {
    max-width: 25%;
    flex: 0 1 25%

  }

  @include tablet {
    max-width: 50%;
    flex: 0 1 50%;
  }
}

.teaser p {
  background: rgba(0, 0, 0, .8);
  padding: .8rem;
}

.teaser:nth-child(1) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	display: flex;
}

.teaser:nth-child(2) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(3) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(4) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(5) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(6) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(7) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(8) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(9) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(10) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(11) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.teaser:nth-child(12) {
  background-image: url(https://placekitten.com/200/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// @media screen and (min-width: 600px) {
 
//   // .teaser {
//   //   width: 50%;
//   // }
// }

// @media screen and (min-width: 1240px) {
  
// }